<div class="header">
    <div class="center">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
        <div class="header-logo">
            @await Component.InvokeAsync("Logo")
        </div>
        <div class="header-links-wrapper">
            @await Component.InvokeAsync("HeaderLinks")
            @await Component.InvokeAsync("FlyoutShoppingCart")
        </div>
        <div class="search-box store-search-box">
            @await Component.InvokeAsync("SearchBox")
        </div>
        <div class="header-selectors-wrapper">
            <div class="header-selects">
                @await Component.InvokeAsync("TaxTypeSelector")
                @await Component.InvokeAsync("CurrencySelector")
                @await Component.InvokeAsync("LanguageSelector")
            </div>
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
        </div>
		@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
    </div>
</div>
