
@media all and (min-width: 481px) {

.slider-wrapper {
	display: block;
}

/* FOOTER */

.footer .center {
	max-width: none;
}
.footer-block {
	float: left;
	width: 48%;
	margin-left: 4%;
	text-align: left;
}
.footer-block:nth-child(odd) {
	clear: both;
	margin-left: 0;
}
.footer-block li a {
	padding: 8px 0 10px 12px;
	background: url(../img/bullet6.png) left center no-repeat;
	color: #333;
}

/* LEFT/RIGHT COLUMNS */

.side-2:after {
	content: "";
	display: block;
	clear: both;
}
.block {
	float: left;
	width: 49%;
	margin: 0 0 2% 2%;
}
.block:nth-child(2n+1) {
	clear: both;
	margin-left: 0;
}
.block .title {
	text-align: left;
}

/* CATEGORY PAGE */

.product-selectors {
	background-color: transparent;
	padding: 0;
}
.product-selectors div {
	width: 46%;
	margin: 0 2%;
	background-color: #f6f6f6;
	padding: 10px;
}
.product-page-size span {
	display: inline;
}

.item-box {
	float: left;
	width: 49%;
	max-width: none;
	margin: 60px 0 20px 2%;
}
.item-box:nth-child(2n+1) {
    clear: both;
	margin-left: 0;
}
.product-grid .item-box,
.product-list .item-box {
	margin-bottom: 80px;
}

/* PRODUCT PAGE */
	
.attributes dt {
	float: left;
	clear: left;
	width: 125px;
	margin: 0 15px 0 0;
	background: #eee url('../img/bullet4.png') right 5px center no-repeat;
	text-align: left;
}
.attributes dd {
	float: left;
	width: 250px;
	margin: 0 0 12px;
	text-align: left;
}
.attributes select {
	height: 28px;
}
.attributes .qty-box input {
    height: 26px;
}
.attribute-squares li {
	margin: 0 10px 0 0;
}
.ui-tabs .ui-tabs-nav {
	overflow: hidden;
}
.ui-tabs .ui-tabs-nav li {
	float: left;
	margin: 0 2px 0 0;
}

/* TOPICS */
	
.topic-password input {
	width: 250px;
}

/* REGISTRATION, LOGIN, ACCOUNT */

.date-of-birth select {
	width: 100px;
	max-width: none;
	margin: 0 0 0 10px;
}
.login-page .checkout-as-guest-button {
	display: inline-block;
	margin: 0 3px 0 0;
}

/*CHECKOUT PAGES*/

.payment-method .payment-details {
	max-width: 80%; /*prevents content drop*/
}
.order-review-data ul {
	display: table-cell;
	width: 50%;
	margin: 0;
	padding: 20px;
	text-align: left;
}
.opc .order-review-data ul {
	padding: 3px;
}

/* ORDER DETAILS, RETURN REQUESTS */

.order-details-area ul,
.shipment-details-area ul {
	display: table-cell;
	width: 50%;
	margin: 0;
	text-align: left;
}

/* BLOG & NEWS */

.post-head, .news-head,
.blog-page .blog-details {
	display: table;
	width: 100%;
}
.post-title, .news-title,
.blog-page .tags {
	display: table-cell;
	text-align: left;
}
.post-date, .news-date,
.blog-page .buttons {
	display: table-cell;
	text-align: right;
}

.comment-list .title {
	display: none;
}
.blog-comment,
.news-comment {
	display: table;
	width: 100%;
	border-collapse: collapse;
	border: none;
	margin: 0 0 -1px;
}
.comment-info {
	display: table-cell;
	width: 150px;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd;
	padding: 15px 0;
}
.comment-info .user-info {
	float: none;
	margin: 0;
}
.comment-info .username {
	display: block;
	padding: 5px;
	text-align: center;
}
.comment-info .avatar {
	display: block;
	width: auto;
	margin: 0;
	border: none;
	padding: 0 10px;
}
.comment-content {
	display: table-cell;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd;
	padding: 15px;
	text-align: left;
}
.comment-time {
	margin: 0 0 5px;
	line-height: 26px;
}
.comment-body {
	margin: 0;
}

}