
@media all and (max-width: 1024px) {

.header-menu {
	width: 95%;
	max-width: 650px;
	margin: 0 auto 20px;
}
.top-menu, .dropdown {
	display: none;
}
.header-menu .menu-title {
	display: block !important;
	background-color: #eee;
	box-shadow: inset 0 1px 0 #fff;
}
.header-menu .menu-title span {
	display: block !important;
	height: 50px;
	background: url('../img/responsive-nav-icon.png') right 16px center no-repeat;
	padding: 0 0 0 15px;
	font-size: 24px;
	line-height: 48px;
	color: #222;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}
.header-menu > ul {
	display: none;
	border: 1px dotted #ccc;
	background-color: #fff;
}
.header-menu ul > li {
	position: relative;
	border-top: 1px dotted #ccc;
}
.header-menu > ul > li:first-child {
	border: none;
}
.header-menu ul > li > a,
.header-menu ul > li > span {
    padding: 13px 15px;
	text-align: left;
}
.header-menu ul > li:hover > a,
.header-menu ul > li:hover > span {
	color: #836;
}
.header-menu > ul .plus-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 46px;
	height: 46px;
	border-left: 1px dotted #ccc;
	background: url('../img/responsive-plus.png') no-repeat center;
	cursor: pointer;
}
.header-menu > ul .plus-button.close {
	background-image: url('../img/responsive-minus.png');
}
.header-menu .sublist-wrap {
	position: relative;
	border: none;
	padding: 0;
	box-shadow: none;
	background-color: #f6f6f6;
}
.header-menu .sublist li a {
	padding: 13px 46px 13px 26px;
	font-size: 15px;
}
.header-menu .sublist-wrap .sublist-wrap {
	background-color: #fff;
}
/*.header-menu .sublist-wrap .sublist-wrap .sublist-wrap {
	background-color: #f6f6f6;
}
.header-menu .sublist-wrap .sublist-wrap .sublist-wrap .sublist-wrap {
	background-color: #fff;
}*/

.item-box .product-item {
	overflow: visible;
}
.item-box .details {
    top: auto;
    bottom: -70px;
    left: -10px !important;
	width: calc(100% + 20px) !important;
    height: auto !important;
	border-top: 1px solid #e6e6e6;
    background: #e6e6e6 url('../img/transparent-pattern.png') repeat;
	padding: 0 10px 10px;
    opacity: 1;
}
.item-box .description {
	display: none;
	overflow: hidden;
	padding: 10px 10px 5px;
    line-height: 18px;
	color: #eee;
}
.item-box .add-info {
	display: table;
    position: static;
	background-color: #fff;
}
.item-box .prices,
.item-box .buttons {
	display: table-cell;
	height: 60px;
	padding: 10px;
	text-align: left;
	vertical-align: middle;
}
.item-box .base-price-pangv {
	display: none;
}
.item-box .buttons {
	text-align: right;
}
.item-box .product-box-add-to-cart-button {
	width: 50px;
	border-color: #645 !important;
	background: #836 url('../img/icon_cart_white.png') center no-repeat !important;
	font-size: 0 !important;
}

.block-account-navigation {
	float: none !important;
	margin: 30px auto 15px !important;
}
.block-account-navigation .title {
	text-align: center !important;
}
/*.block-account-navigation .listbox {
	display: block !important;
	height: auto !important;
	margin: 10px 0 0 !important;
}*/

}